# Node modules
node_modules/

# Production build
build/
dist/

# Dependency directories
.pnp/
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment files
.env
.env.*.local

# IDE / Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS generated
.DS_Store
Thumbs.db

# Testing
coverage/
*.lcov

# Cache
.cache/
.next/
out/
.eslintcache
turbo/

# TypeScript
*.tsbuildinfo

# React Native (if used)
android/
ios/
*.keystore

# Others
*.log
